.titulo1{
    font-size: 60px;
    font-style:italic;
    color: rgb(82, 82, 82)
    }
    .contenedor2{
        width: 120%;
        display:flex;
        max-width: 1500px;
        margin-left: 170px;
    }
    .tarjetas{
        width: 150%;
        margin:20px;
        border-radius: 6px;
        background-color: rgb(174, 214, 194);
        overflow: hidden;
        box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
        cursor: default;
        transition: all 400ms ease;
        justify-items: center;
    
    }
    .tarjetas img{
        width: 100%;
        height: 250px;
    }
    .tarjetas .cotenido{
        padding: 15px;
        text-align: center;
    }
    .tarjetas .contenido p{
        line-height: 1.5;
        color: rgb(0, 0, 0);
        margin-left: 20px;
        margin-right: 20px;
    
    }
    .tarjetas .contenido h1{
        margin-bottom: 15px;
        color:darkgrey ;
        font-size: 50px;
    }
    .contenedor{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: justify;
        margin-right: 400px;

    }
    .img1{
        width: 200px;
        height: 200px;
        margin-right: 25px;
        border-radius: 15px;
        margin-left: 300px;
        
    }
    .parrafo2{
        margin-left: 300px;
    }
    .minecraft2{
        text-align: center;
    }
    .fifa18{
        text-align: center;
    }
    .fifa231{
        text-align: center;
    }
    .tarjetas:hover{
        transform: translateY(-3%);
        box-shadow: 5px 5px 20px rgba (0,0,0,0.4);}